* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar_ul {
  display: flex;
}

.navbar_li {
  list-style: none;
  align-items: center;
  margin-left: 70px;
}

a {
  text-decoration: none;
  color: #414141;
  line-height: 50px;
  text-align: center;
  padding: 0 10px;
  font: normal normal normal 14px/1.4em;
}

a:hover {
  color: #b1d3bb;
  transition: color 0.4s ease 0s;
}
.navbar_li img {
  width: 193px;
  height: 74px;
  object-fit: cover;
}

.navbar_li img:hover {
  cursor: pointer;
}

.navbar_li button {
  width: 141px;
  height: 40px;
  background-color: #15291b;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.navbar_li button:hover {
  background-color: #b1d3bb;
  transition: 1s;
  cursor: pointer;
}

.main ul li img {
  width: 100%;
  height: 565px;
}

.main ul li {
  margin-left: 5px;
}

.main ul {
  width: 90%;
}

.paragraf {
  color: #2b5336;
  text-align: center;
  font-size: 16px;
  width: 60%;
  margin: auto;
}

.paragraf h3 {
  margin-top: 50px;
  font-size: 26px;
  margin-bottom: 20px;
}

.paragraf button {
  width: 201px;
  height: 47px;
  background-color: white;
  color: #15291b;
  font-size: 17px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.paragraf button:hover {
  background-color: #15291b;
  transition: 1s;
  cursor: pointer;
  color: white;
}

li {
  list-style: none;
}

.alt img:hover {
  cursor: pointer;
}

body {
  font-family: "Gemunu Libre", sans-serif;
  font-family: "Montserrat", sans-serif;
}
